<form method="GET" action="/search">

     <table>
                <tr>
                    <td>Bus stop Number:</td>
                    <td> <input type="text" name="stopnum" size="30" placeholder="Please enter Bus Stop number" required> </td>
                </tr>

                <tr>
                    <td>Bus no.:</td>
                    <td> <input type="text" name="busnum" size="30" placeholder="Please enter Bus number" > </td>
                </tr>


                <tr>
                    <td></td>
                    <td>
                    
                        <button type="submit" class="btn btn-secondary btn-lg btn-block">Search</button>
                    </td>
                </tr>
            </table>

</form>

