
<div align="center">
    
<form method="GET" action="/search">

<div class="btn btn-secondary btn-lg btn-block">
<h5>Check Bus stop</h5>
</div>


     <table>
                <tr>
                    <td><b>Bus stop Number:</b></td>
                    <td> <input type="text" name="stopnum" size="30" placeholder="Enter Bus Stop number" required> </td>
                </tr>
                <br>

                <tr>
                    <td></td>
                    <td>
                    
                        <button type="submit" class="btn btn-secondary  btn-block">Search</button>
                    </td>
                </tr>
            </table>
            

</form>
</div>

<hr>
<br><br>

<div align="center">

<form method="GET" action="/search">

<div class="btn btn-secondary btn-lg btn-block">
<h5>Check Bus stop & Bus no.</h5>
</div>

     <table>
                <tr>
                    <td><b>Bus stop Number:</b></td>
                    <td> <input type="text" name="stopnum" size="30" placeholder="Enter Bus Stop number" required> </td>
                </tr>
                <br>

                <tr>
                    <td><b>Bus Number:</b></td>
                    <td> <input type="text" name="busnum" size="30" placeholder="Enter Bus number" required> </td>
                </tr>
                <br>


                <tr>
                    <td></td>
                    <td>
                    
                        <button type="submit" class="btn btn-secondary  btn-block">Search</button>
                    </td>
                </tr>
            </table>

</form>

<hr>
</div>

